.hidden {
  visibility: hidden !important;
}

.catalog>.flex {
  position: relative;
}

.catalog>.flex .div:first-child:hover .kv1 {
  display: flex;
}

.kv1 {
  position       : absolute;
  width          : 100%;
  height         : 100%;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.kv1__shadow {
  position        : absolute;
  width           : 100%;
  height          : 100%;
  background-color: black;
  opacity         : .9;
}

.kv1__text {
  cursor        : pointer;
  font-size     : 1.1em;
  letter-spacing: 1.5px;
  width         : 50%;
  color         : white;
  text-transform: uppercase;
  position      : absolute;
  padding       : 15px 0;
  text-align    : center;
  border        : solid white 3px;
}


.kv2 {
  display        : flex;
  justify-content: center;
  align-items    : center;
  position       : fixed;
  z-index        : 2;
  top            : 0;
  left           : 0;
  width          : 100vw;
  height         : 100vh;
}

.kv2>.bg {
  position        : absolute;
  width           : 100%;
  height          : 100%;
  background-color: black;
  opacity         : .9;
}

.kv2>.content {
  position        : absolute;
  background-color: #fff;
  display         : flex;
  width           : 1000px;
  height          : 450px;
}



.kv2 .left {
  width: 50%;
}

.kv2 .slider {
  width : 100%;
  height: 100%;
}

.kv2 .slick-prev,
.slick-next {
  z-index         : 1;
  cursor          : pointer;
  font-size       : 0;
  position        : absolute;
  top             : 50%;
  transform       : translate(0, -50%);
  width           : 50px;
  height          : 50px;
  background-color: #000000;
  opacity         : 0.8;
  border          : none;
  outline         : none;
}

.kv2 .slick-arrow:hover {
  opacity: 1;
}

.kv2 .slick-prev {
  left: 0;
}

.kv2 .slick-prev::before {
  font-size: 32px;
  content  : '❮';
  color    : white;
}

.kv2 .slick-next {
  right: 0;
}

.kv2 .slick-next::before {
  font-size: 32px;
  content  : '❯';
  color    : white;
}

.kv2 .s-item {
  width          : 500px;
  height         : 450px;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.kv2 .s-item img {
  display  : block;
  height   : 100%;
  max-width: 100%;
}

.kv2 .slick-track {
  display: flex;
}

.kv2 .right {
  width  : 50%;
  padding: 25px;
}



.kv2 .right h3 {
  color         : #000000;
  font-family   : Roboto;
  font-size     : 24px;
  font-weight   : 600;
  text-transform: uppercase;
}

.kv2 .line {
  margin          : 30px 0;
  width           : 54px;
  height          : 3px;
  background-color: #ac0404;
}

.kv2 .right ul {
  padding-left: 15px;
}

.kv2 .right li {
  display        : list-item;
  list-style-type: disc;
  color          : #2a2929;
  font-family    : Roboto;
  font-size      : 16px;
  font-weight    : 400;
  letter-spacing : 0.8px;
  margin-bottom  : 15px;
}

.kv2 .right label {
  margin-left   : 15px;
  position      : relative;
  background    : none;
  padding       : 0px;
  color         : black;
  font-family   : Roboto;
  font-size     : 16px;
  font-weight   : 500;
  letter-spacing: 0.8px;
}

.kv2 .right label:before {
  position     : absolute;
  left         : -18px;
  top          : 2px;
  content      : '';
  width        : 12px;
  height       : 12px;
  border       : 1px solid black;
  border-radius: 6px;
}

.kv2 .right input[type=checkbox] {
  display: none;
}

.kv2 .right input[type=checkbox]:checked+label:before {
  content    : '\2022';
  font-size  : 30px;
  line-height: 15px;
  text-align : center;
}


.kv2 .bottom {
  display   : flex;
  flex-wrap : wrap;
  margin-top: 30px;
}

.kv2 .bottom .price {
  width         : 50%;
  color         : #000000;
  font-size     : 35px;
  font-weight   : 400;
  letter-spacing: 1.73px;
  text-align    : center;
}

.kv2 .bottom .order {
  margin          : 0;
  background-color: #ac0404;
}

.kv2 .right .space {
  width: 57%;
}

.kv2 .right .more {
  border        : none;
  padding       : 0;
  margin        : 0;
  display       : block;
  color         : #000000;
  font-family   : Roboto;
  font-size     : 16px;
  font-weight   : 400;
  letter-spacing: 0.8px;
  border        : none;
  border-bottom : 1px solid black;
  margin-top    : 5px;
}